.App {
  text-align: center;
}

.bottom-navigation {
  bottom: 15px;
  left: 20px;
  right: 20px;
  border-radius: 15px;
  border: 1px solid gainsboro;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #e5e7eb inset !important;
}input:-webkit-autofill{
  -webkit-text-fill-color: black !important;
}

.date-input-group .date-input-icon {
  @apply text-red-500; 
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1e40af;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  #4726c0;
}




