.App {
  text-align: center;
}

.bottom-navigation {
  bottom: 15px;
  left: 20px;
  right: 20px;
  border-radius: 15px;
  border: 1px solid gainsboro;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #e5e7eb inset !important;
}input:-webkit-autofill{
  -webkit-text-fill-color: black !important;
}

.date-input-group .date-input-icon {
  @apply text-red-500; 
}

::-webkit-scrollbar {
  width: 7px;
}


/* ::-webkit-scrollbar-track {
  background: #1f2937;
} */

::-webkit-scrollbar-thumb {
  background: #b8b9c3;
  border-radius: 5px;
}


::-webkit-scrollbar-thumb:hover {
  background:  #e9e9e9;
}




